<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CuraeSuprema">

    <application
        android:name="com.example.CuraeSuprema.DataModelingClasses.Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KatyRamaShay">
        <activity android:name="com.example.CuraeSuprema.ExerciseTask" />
        <activity android:name="com.example.CuraeSuprema.ShowerTask" />
        <activity android:name="com.example.CuraeSuprema.LogEntryPage" />
        <activity android:name="com.example.CuraeSuprema.Settings" />
        <activity android:name="com.example.CuraeSuprema.SleepTask" />
        <activity android:name="com.example.CuraeSuprema.SocialTask" />
        <activity android:name="com.example.CuraeSuprema.MealsTask" />
        <activity android:name="com.example.CuraeSuprema.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.CuraeSuprema.DailyTask" />
        <activity android:name="com.example.CuraeSuprema.NewTask" />
        <activity android:name="com.example.CuraeSuprema.Medications" />
        <activity android:name="com.example.CuraeSuprema.CreateAccount" />
        <activity android:name="com.example.CuraeSuprema.TaskPage" />
        <activity android:name="com.example.CuraeSuprema.MainActivity" />
    </application>

</manifest>